<form>
    <div>
        <label for="title">Title</label>
        <input id="title" type="text">
    </div>

    <div>
        <label for="description">Description</label>
        <input id="description" placeholder="Describe your ToDo" type="text">
    </div>

    <div>
        <label for="category">category</label>
        <select id="category">
            <option value="1">None</option>
            <option value="2">Fun</option>
            <option value="3">Work</option>
            <option value="4">Study</option>
        </select>
    </div>

    <div>
        <label for="deadline">Deadline</label>
        <input type="date" id="deadline">
    </div>

    <button type="button" (click)="createToDo()">Create ToDo</button>
</form>